@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

/* font-family: 'Yeseva One',
cursive; */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
/* font-family: 'Manrope',
sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* Colors  */
    --text-color: #333333;
    --text-color-2: #FFAD5A;
    --heading-mision: #13103A;
    --mission-bg: rgba(79, 157, 166, 0.1);
    --vission-bg: rgba(255, 89, 89, 0.1);
    --btn-color: #FF5959;
    /* Fonts size  */
    --big-font: 60px;
    --heading: 48px;
    --medium: 24px;
    --paragraph: 18px;
    --sm-paragraph: 16px;
}

header {
    display: flex;
}

.hero-text {
    font-family: 'Yeseva One', cursive;
    font-size: var(--big-font);
    font-weight: 400;
    color: var(--text-color);
}

.hero-text .marked {
    display: inline-block;
}

.marked {
    color: var(--text-color-2);
}

header .model img {
    width: 80%;
}

.half-width {
    width: 50%;
}

p {
    color: var(--text-color);
    font-size: var(--paragraph);
}